@mixin degrade()
  background: linear-gradient(45deg,#82366B,#692854)



  .carrusel
  width: 100%
  overflow-x: auto
  white-space: nowrap
  img
    width: auto
    height: 200px
    background-size: cover
    display: inline-block 
  